<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<h1>Communication test</h1>
  <div ng-app = "app">
    <div ng-controller = "mainCtl">
      <select class="form-control" ng-model="data.choice" ng-options="d.value for d in databases"></select>
      <h4>{{data.choice.value}}</h4>
    </div>
    <div ng-controller = "firstSubCtl">
      <input ng-model="data.choice.value">
      <h4>{{data.choice.value}}</h4>
      <h4>here:{{data.choice.db}}</h4>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
</body>
<script src="js/sandbox.js"></script>
</html>
