<!doctype html>
<html>
<head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../ui-common/functional-site/assets/css/kb-visualizations.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- NAVIGATION -->
<div ng-app="app">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img class="logo" src="img/Gold-Miner-Icon.png" width="46" style="float:left">
                <a class="navbar-brand" ui-sref="home">MINE</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="metablomics">Metabolomics</a></li>
                <li><a ui-sref="structure">Structure-Search</a></li>
                <li><a ui-sref="faq">FAQs</a></li>
            </ul>
            <form class=" navbar-form navbar-right" role="form">
                <div ng-controller="mineCtl">
                        <input type="text" placeholder="Quick Search" class="form-control" ng-model ="name" ng-keypress="doQuickSearch($event)">
                        <button class="btn btn-primary "  ng-click="doQuickSearch(false)" ><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h2>Database</h2>
                <div ng-controller="datbaseCtl">
                    <select class="form-control" ng-model="database" ng-options="d.name for d in databases"></select>
                </div>
            </div>
            <!-- col 2 -->
            <div class="col-sm-10">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

<!-- General-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/lib/Lightbox_me/jquery.lightbox_me.js" type="text/javascript"></script>

<!-- deps for kegg pathway widget -->
<script src="../ui-common/functional-site/assets/js/kbclient/workspaceDeluxe1.1.js"></script>
<script src="../ui-common/src/kbwidget.js"></script>
<script src="../ui-common/src/widgets/maps/kbasePathway.js"></script>

<!-- Marvin-->
<script src="js/lib/rainbow/rainbow-custom.min.js"></script>
<script src="js/promise-0.1.1.min.js"></script>
<script src="js/marvinjslauncher.js"></script>
<script src="js/webservices.js"></script>
<script src="gui/gui.nocache.js"></script>

<!-- MINE-->
<script src="js/mainDataBase.js"></script>
<script src="js/main.js"></script>
<script src="js/quicksearch.js"></script>
<script src="js/compounds.js"></script>
<script src="js/acompound.js"></script>
<script src="js/metablomics.js"></script>
<script src="js/structures.js"></script>
<script src="js/kegg.js"></script>
<script src="js/creator.js"></script>
<script src="js/operatorCreatorClient.js"></script>
<script src="js/databasechoice.js"></script>


</body>
</html>
