<div  ng-controller="resetCtl"  class="jumbotron">
  <div class="container">
    <h2><span class="text-info">M</span>etabolic <span class="text-info">I</span>n Silico <span class="text-info">N</span>etwork <span class="text-info">E</span>xpansion Databases</h2>
    <div class="row">
        <div class="col-sm-3 ">
            <img border="0" src="img/Gold-Miner-Icon.png" alt="Miner" width="120" height="122">
        </div>
        <div class="col-sm-8" >
            <p>
            Welcome to the home of Metabolic In silico Network Expanstions. These databases expand the known metabolome using the BNICE framework with hand-curated reaction rules. There are a variety of methods to interact with the database: Search for compound names or identifiers names with quick search, find similar chemicals with structure search, or annotate accurate masses from the metabolomics. Access to the database is also possible through client APIs in JavaScript, Python and Perl. Please contact us for the latest versions.
            </p>
        </div>
    </div>
  </div>
</div>
<a href="http://www.chemaxon.com"><img border="0" src="http://www.chemaxon.com/images/freeweb-150.gif" alt="ChemAxon" ></a>
