<form role="form">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Metabolomics</h2></div>
        <div class="panel-body">
            <div class="col-sm-5 ">
                <div class="form-group">
                    <label>Peak M/Z</label>
                    <textarea id="trace" ng-model="trace" class="form-control" rows="12"></textarea>
                </div>
            </div>
            <div class="col-sm-3 ">
                <label>Charge </label>
                <select id="charge" class="form-control" ng-model="charge" ng-options="c.name for c in charges"></select>
                </br>

                <label>Adducts </label></br>

                <select class="form-control" id="adducts" size="9" multiple ng-model="adducts"
                        ng-options="s for s in adduct[charge.id]"></select>
            </div>
            <div class="col-sm-3 ">
                <div id="tolerance" class="form-group">
                    <label>Tolerance </label></br>
                    <input type="number" name="input" ng-model="tolerance" min="0" max="15" required>
                    <div class="radio">
                        <input type="radio"  ng-value="false" ng-model="ppm" ng-checked="!ppm">
                        mDa
                    </div>
                    <div class="radio">
                        <input type="radio" ng-value="true" ng-model="ppm">
                        ppm
                    </div>

                </div>
                <div id="halogen" class="checkbox">
                    <label>Halogenated compounds <input type="checkbox" ng-model="halogenated" ng-checked="0">
                    </label>
                </div>
                <a class="btn btn-block btn-default" style="margin: 0 auto;" ng-disabled='!adducts.length' ui-sref="metabolomicsCompounds">
                <span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </div>
</form>
