<pagination total-items="totalItems" page="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"  style="cursor: pointer;"></pagination>

<table class="table table-striped table-hover">    
	<tbody>
		<tr ng-repeat="attribute in filteredData" >
			<td ng-repeat="img in attribute.Reactants">
				<div ng-if= "grtZero(img[0])">{{img[1]}} <span ng-show=" ! $last ">+</span></div>
				 <a  ui-sref="compounds({search:img[1]})">
					<img  ng-src="http://lincolnpark.chem-eng.northwestern.edu/Smiles_dump/{{img[1]}}.svg" width="75" >
				</a>
			</td>
			<td>
				&#8594;
			</td>
			<td ng-repeat="img in attribute.Products">
			    <div ng-if= "grtZero(img[0])">{{img[1]}}</div>
				<a  ui-sref="compounds({search:img[1]})">
					<img  ng-src="http://lincolnpark.chem-eng.northwestern.edu/Smiles_dump/{{img[1]}}.svg" width="75" ></td>
				</a>
			<td ng-repeat="op in attribute.Operators">
				<a style="font-size:16px">{{op}}</a>
			</td>
		</tr>
	</tbody>  
</table>

<pagination total-items="totalItems" page="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"  style="cursor: pointer;"></pagination>