<div class="container">
   <iframe src="editorws.html" id="sketch" class="sketcher-frame" width = "600" height = "600"></iframe>
		<div>
			<ul>
				<li><strong>Display options</strong></li>
				<li><input type="checkbox" id="chbx-carbonVis" /><label for="chbx-carbonVis">Carbon labels</label></li>
				<li><input type="checkbox" id="chbx-coloring" checked="checked" /><label for="chbx-coloring">CPK coloring</label></li>
			</ul>
		</div>    
		<div class="molecule-div">
			<ul class="horizontalmenu">
				<li>
				
				
				<select id="list-inputformat">
					<option value="mol" selected>MDL molfile</option>
					<option value="mrv">MRV</option>
					<option value="smiles">SMILES</option>
					<option value="name">IUPAC name</option>
				</select>
				</li>
				<li>&nbsp;</li>
				
				<li><input type="button" id="btn-molExport" value="Export"></li>
			</ul>
			
			</div>
    <div>